
nav {
  top: 0;
  width: 100%;
  z-index: 101;
  position: fixed;
  background-color: blue;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
}

div.navbar {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: red;
}

a.navbar.left {
  display: flex;
  cursor: pointer;
  align-items: center;
}

img.navbar {
  max-height: 2.5em;
  width: auto;
  margin-right: 0.5em;
  background-color: pink;
}

p.navbar {
  background-color: blueviolet;
}

ul.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

li.navbar {
  display: flex;
  align-items: center;
  padding-left: 1.2em;
  background-color: yellow;
}

a.navbar.right {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: blueviolet;
}

a.resume {
  background-color: red;
}

a.github {
  background-color: green;
}

div.border {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 102;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 1.2em solid blueviolet;
  border-right: 1.2em solid blueviolet;
  border-bottom: 1.2em solid blueviolet;
  pointer-events: none;
}

.main_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section.intro {
  height: calc(100% + 8em);
  background-color: green;
}

section.about {
  height: calc(100% + 8em);
  background-color: blue;
}

section.work {
  height: calc(100% + 8em);
  background-color: green;
}

section.contact {
  height: calc(100% + 8em);
  background-color: blue;
}

div.transition_ltd {
  width: 100%;
  height: 8em;
  background: linear-gradient(to right bottom, green 49%, blue 50%);
}

div.transition_dtl {
  width: 100%;
  height: 8em;
  background: linear-gradient(to right bottom, blue 49%, green 50%);
}
