
/* *********************************************************************************************************************************************************** /
Navigation
/ *********************************************************************************************************************************************************** */

nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
    background-color: white;
}
#navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#leftNav {
    display: flex;
    cursor: pointer;
    align-items: center;
}
#siteLogo { width: auto; }
#headerTable {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.headerRow {
    display: flex;
    align-items: center;
}
.rightNav {
    display: flex;
    align-items: center;
    color: #0f1b61;
}
.rightNav:hover { font-weight: bold; }
.selected {
    color: #5f73e7 !important;
    font-weight: bold;
}
.navButton {
    color: #5f73e7;
    transition: background-color 0.2s ease-in;
    font-weight: bold;
}
.navButton:hover {
    transition: background-color 0.2s ease-in;
    background-color: #e8dcf8;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #navbar { max-width: 85%; }
    #siteLogo {
        height: 2.25vw;
        margin: 0.3vw 0;
    }
    .headerRow { padding-left: 0.8vw; }
    .rightNav { font-size: 0.8vw; }
    .navButton {
        font-size: 0.8vw;
        padding: 0.4vw;
        border-radius: 0.4vw;
        border: 0.15vw solid #5f73e7;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #navbar { max-width: 90%; }
    #siteLogo {
        height: 4.5vh;
        margin: 0.6vh 0;
    }
    .headerRow { padding-left: 1vh; }
    .rightNav { display: none; }
    .navButton {
        font-size: 1.4vh;
        padding: 0.8vh;
        border-radius: 0.7vh;
        border: 0.2vh solid #5f73e7;
    }

}

/* *********************************************************************************************************************************************************** /
Home section
/ *********************************************************************************************************************************************************** */

#home {
    height: 100%;
    background-color: #e4f2fa;
}
#description p:nth-child(1) {
    margin: 0;
    color: #3345b1;
}
#description p:nth-child(2) {
    margin: 0;
    font-weight: bold;
    color: #0f1b61;
}
#description p:nth-child(3) {
    margin: 0;
    font-weight: bold;
    color: #3345b1;
}
#description p:nth-child(4) {
    margin: 0;
    color: #0f1b61;
}
#canvasElement {
    opacity: 0;
    animation-name: display;
    animation-play-state: paused;
    animation-delay: 0.8s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes display {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #description {
        width: 35vw;
        margin-right: 30vw;
    }
    #description p:nth-child(1) {
        margin-bottom: 1vh;
        font-size: 3vh;
    }
    #description p:nth-child(2) {
        margin-bottom: 1vh;
        font-size: 7.5vh;
    }
    #description p:nth-child(3) {
        margin-bottom: 2vh;
        font-size: 4vh;
    }
    #description p:nth-child(4) {
        font-size: 2vh;
        max-width: 90%;
    }
    #canvas {
        width: 30vw;
        margin-left: 30vw;
    }
    #canvasElement {
        height: 30vw;
        width: 30vw;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #description {
        text-align: center;
        width: 70vw;
        margin-bottom: 35vh;
    }
    #description p:nth-child(1) {
        margin-bottom: 10px;
        font-size: 5vw;
    }
    #description p:nth-child(2) {
        margin-bottom: 10px;
        font-size: 10vw;
    }
    #description p:nth-child(3) {
        margin-bottom: 20px;
        font-size: 6vw;
    }
    #description p:nth-child(4) { font-size: 3vw; }
    #canvas {
        width: 70vw;
        margin-top: 35vh;
    }
    #canvasElement {
        height: 70vw;
        width: 70vw;
    }

}

/* *********************************************************************************************************************************************************** /
About me Section
/ *********************************************************************************************************************************************************** */

#about { background-color: #cddaf7; }
.sectionHeader {
    font-weight: bold;
    color: #3345b1;
    text-align: center;
    margin: 0;
}
#aboutH2 {
    color: #3345b1;
    text-align: center;
    margin: 0;
}
#aboutBody {
    display: flex;
    justify-content: center;
}
#portraitOutline {
    z-index: 49;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
}
#portrait {
    position: absolute;
    z-index: 50;
}
#portraitOverlay {
    position: absolute;
    z-index: 50;
    background-color: #3345b1;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}
#portraitOverlay:hover {
    transition: opacity 0.2s ease-in;
    opacity: 0.3 !important;
}
#star {
    position: absolute;
    z-index: 52;
    animation-duration: 10s;
    animation-name: passiveRotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes passiveRotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.frontalLogo {
    position: absolute;
    z-index: 52;
    height: 3.5vw;
    width: 3.5vw;
    opacity: 0.65;
    padding-top: 10vw;
    animation-duration: 5s;
    animation-name: passiveFloat;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.rearLogo {
    position: absolute;
    z-index: 52;
    height: 3.5vw;
    width: 3.5vw;
    opacity: 0.2;
    padding-top: 3vw;
    animation-duration: 5s;
    animation-delay: 0.75s;
    animation-name: passiveFloat;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translateY(1.5vw);
}
#aboutDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0f1b61;
}
#aboutP1 { margin: 0; }
#aboutP2 { margin: 0; }
.usedTechnologies {
    display: flex;
    justify-content: center;
}
.experienceTable {
    color: #0f1b61;
    border-collapse: collapse;
}
.tableTitle {
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tableRow { background-color: #d8e3fa; }
.tableCol {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tableCol::first-letter { color:#3345b1; }
.tableColShort {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tableColShort::first-letter { color:#3345b1; }
#pythonLogo { padding-right: 700px; }
#javaLogo { padding-left: 700px; }
#javascriptLogo { padding-right: 900px; }
#kotlinLogo { padding-left: 900px; }
@keyframes passiveFloat {
    0% { transform: translateY(1.5vw); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(1.5vw); }
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    .sectionHeader {
        font-size: 4vh;
        margin-top: 13vh;
    }
    #aboutH2 {
        font-size: 3vh;
        margin-bottom: 1vw;
    }
    #aboutBody {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    #aboutPortrait {
        height: 15.63vw;
        width: 15.63vw;
    }
    #portraitOutline {
        width: 13vw;
        height: 13vw;
        margin-top: 1.3vw;
        margin-left: 1.4vw;
        border-radius: 1.2vw;
        border: 0.2vw solid white;
    }
    #portrait {
        width: 13vw;
        height: 13vw;
        margin-left: 0.5vw;
        margin-top: 0.5vw;
        border-radius: 1.2vw;
        border: 0.2vw solid white;
    }
    #portraitOverlay {
        width: 13vw;
        height: 13vw;
        margin-left: 0.5vw;
        margin-top: 0.5vw;
        border-radius: 1.2vw;
        border: 0.2vw solid white;
    }
    #star {
        margin-left: -1.3vw;
        margin-top: -1.4vw;
        width: 4vw;
    }
    #aboutDescription {
        padding: 0 3vw;
        font-size: 1vw;
        width: 27vw;
    }
    #aboutP1 { margin-bottom: 1.5vw; }
    .experienceTable { font-size: 18px; }
    .tableTitle {
        height: 1.7em;
        font-size: 1.2em;
        padding: 10px 0;
        border: 4px solid #d8e3fa;
        border-radius: 50px 50px 0px 0px;
    }
    .tableCol {
        width: 250px;
        height: 40px;
        border: 4px solid #d8e3fa;
    }
    .tableColShort {
        width: 150px;
        height: 40px;
        border: 4px solid #d8e3fa;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #pythonLogo { display: none; }
    #javaLogo { display: none; }
    #javascriptLogo { display: none; }
    #kotlinLogo { display: none; }
    .sectionHeader {
        font-size: 6vw;
        margin-top: 15vw;
    }
    #aboutH2 {
        font-size: 5vw;
        margin: 5vw 0;
    }
    #aboutBody {
        margin-top: 1vw;
        margin-bottom: 1vw;
        flex-direction: column;
        align-items: center;
    }
    #aboutPortrait {
        margin-top: 3vh;
        margin-bottom: 1vh;
        height: 50vw;
        width: 50vw;
    }
    #portraitOutline {
        width: 44vw;
        height: 44vw;
        margin-top: 2.5vw;
        margin-left: 6vw;
        border-radius: 1.2vh;
        border: 0.2vh solid white;
    }
    #portrait {
        width: 44vw;
        height: 44vw;
        margin-left: 3vw;
        border-radius: 1.2vh;
        border: 0.2vh solid white;
    }
    #portraitOverlay { display: none; }
    #star {
        margin-left: -1.5vw;
        margin-top: -5vw;
        width: 10vw;
    }
    #aboutDescription {
        font-size: 3vw;
        width: 70vw;
    }
    #aboutP1 { margin-bottom: 3vw; }
    .experienceTable { font-size: 18px; }
    .tableTitle {
        height: 1.7em;
        font-size: 1.2em;
        padding: 10px 0;
        border: 4px solid #d8e3fa;
        border-radius: 50px 50px 0px 0px;
    }
    .tableCol {
        width: 250px;
        height: 40px;
        border: 4px solid #d8e3fa;
    }
    .tableColShort {
        width: 150px;
        height: 40px;
        border: 4px solid #d8e3fa;
    }

}


