
/* *********************************************************************************************************************************************************** /
Navigation
/ *********************************************************************************************************************************************************** */
nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
    background-color: white;
}

#navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#leftNav {
    display: flex;
    cursor: pointer;
    align-items: center;
}

#siteLogo { width: auto; }

#headerTable {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.headerRow {
    display: flex;
    align-items: center;
}

.rightNav {
    display: flex;
    align-items: center;
    color: #0f1b61;
}

.rightNav:hover { font-weight: bold; }

.selected {
    color: #5f73e7 !important;
    font-weight: bold;
}

.navButton {
    color: #5f73e7;
    transition: background-color 0.2s ease-in;
    font-weight: bold;
}

.navButton:hover {
    transition: background-color 0.2s ease-in;
    background-color: #e8dcf8;
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #navbar { max-width: 85%; }
    #siteLogo {
        height: 2.25vw;
        margin: 0.3vw 0;
    }
    .headerRow { padding-left: 0.8vw; }
    .rightNav { font-size: 0.8vw; }
    .navButton {
        font-size: 0.8vw;
        padding: 0.4vw;
        border-radius: 0.4vw;
        border: 0.15vw solid #5f73e7;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #navbar { max-width: 90%; }
    #siteLogo {
        height: 4.5vh;
        margin: 0.6vh 0;
    }
    .headerRow { padding-left: 1vh; }
    .rightNav { display: none; }
    .navButton {
        font-size: 1.4vh;
        padding: 0.8vh;
        border-radius: 0.7vh;
        border: 0.2vh solid #5f73e7;
    }

}

/* *********************************************************************************************************************************************************** /
Home section
/ *********************************************************************************************************************************************************** */

#home { background-color: #e4f2fa; }

#description p:nth-child(1) {
    margin: 0;
    color: #3345b1;
}

#description p:nth-child(2) {
    margin: 0;
    font-weight: bold;
    color: #0f1b61;
}

#description p:nth-child(3) {
    margin: 0;
    font-weight: bold;
    color: #3345b1;
}

#description p:nth-child(4) {
    margin: 0;
    color: #0f1b61;
}

#canvasElement {
    opacity: 0;
    animation-name: display;
    animation-play-state: paused;
    animation-delay: 0.8s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes display {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Landscape resolution */
@media screen and (orientation:landscape) {

    #home {
        padding-top: calc(2.25vw + 0.6vw);
        height: calc(100% - 2.25vw - 0.6vw);
    }
    #description {
        width: 35vw;
        margin-right: 30vw;
    }
    #description p:nth-child(1) {
        margin-bottom: 1vh;
        font-size: 3vh;
    }
    #description p:nth-child(2) {
        margin-bottom: 1vh;
        font-size: 7.5vh;
    }
    #description p:nth-child(3) {
        margin-bottom: 2vh;
        font-size: 4vh;
    }
    #description p:nth-child(4) {
        font-size: 2vh;
        max-width: 90%;
    }
    #canvas {
        width: 30vw;
        margin-left: 30vw;
    }
    #canvasElement {
        height: 30vw;
        width: 30vw;
    }

}

/* Portrait resolution */
@media screen and (orientation:portrait) {

    #home {
        padding-top: calc(4.5vh + 1.2vh);
        height: calc(100% - 4.5vh - 1.2vh);
    }
    #description {
        text-align: center;
        width: 70vw;
        margin-bottom: 35vh;
    }
    #description p:nth-child(1) {
        margin-bottom: 10px;
        font-size: 5vw;
    }
    #description p:nth-child(2) {
        margin-bottom: 10px;
        font-size: 10vw;
    }
    #description p:nth-child(3) {
        margin-bottom: 20px;
        font-size: 6vw;
    }
    #description p:nth-child(4) {
        font-size: 3vw;
    }
    #canvas {
        width: 70vw;
        margin-top: 35vh;
    }
    #canvasElement {
        height: 70vw;
        width: 70vw;
    }

}
